/*mixins: add keyframes to animate the stripes at loading page*/

$transform0: translate3d(0, 0, 0);
$transform1: translate3d(-100%, 0, 0);
$transform2: translate3d(0, 100%, 0);
$transform3: translate3d(0, -100%, 0);
$transform4: translate3d(0, 100%, 0);
$transform5: translate3d(100%, 0, 0);