        /*@use 'sass/global';
@use 'sass/variables';
@use 'sass/for';
@use 'sass/mediaqueries';
@use 'sass/mixins';
*/
        /*universal selector: including content*/
        
        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }
        /*variable: Layout*/
        
        body {
            font-family: "Lato", sans-serif;
            line-height: 1.5;
        }
        
        $min-height: 100vh;
        $width: 100%;
        $height: 100%;
        /*variable: Colors*/
        
        $primary-color: #fff;
        $background: #fff;
        $bg-color1: #244f75;
        $bg-color2: #60bfbf;
        $bg-color3: #8c4b7e;
        $bg-color4: #f8bb44;
        $bg-color5: #f24b4b;
        /*parent element*/
        
        .stripes {
            min-height: $min-height;
        }
        /*individual child element: give position, add background color and add stripe animation*/
        
        .stripe {
            width: 20%;
            min-height: $min-height;
            position: absolute;
            overflow: hidden;
            &:nth-child(1) {
                left: 0;
                .strip__content {
                    background-color: $bg-color1;
                    transform: translate3d(-100%, 0, 0);
                    animation-name: stripe1;
                    animation-delay: 0.1s;
                }
            }
            &:nth-child(2) {
                left: 20vw;
                .strip__content {
                    background-color: $bg-color2;
                    transform: translate3d(0, 100%, 0);
                    animation-name: stripe2;
                    animation-delay: 0.2s;
                }
            }
            &:nth-child(3) {
                left: 40vw;
                .strip__content {
                    background-color: $bg-color3;
                    transform: translate3d(0, -100%, 0);
                    animation-name: stripe3;
                    animation-delay: 0.3s;
                }
            }
            &:nth-child(4) {
                left: 60vw;
                .strip__content {
                    background-color: $bg-color4;
                    transform: translate3d(0, 100%, 0);
                    animation-name: stripe4;
                    animation-delay: 0.4s;
                }
            }
            &:nth-child(5) {
                left: 80vw;
                .strip__content {
                    background-color: $bg-color5;
                    transform: translate3d(100%, 0, 0);
                    animation-name: stripe5;
                    animation-delay: 0.5s;
                }
            }
        }
        
        .strip__content {
            /*add animation*/
            animation-duration: 1s;
            animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
            animation-fill-mode: both;
            /*add text style*/
            font-family: "Lato", sans-serif;
            /*add flexbox*/
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            /*add color,position & width, hight*/
            color: $primary-color;
            position: absolute;
            width: $width;
            height: $height;
            /*if I leave the content empty & the position doesnt change, no margin (top or left), an extra white layer 30degrees rotation skewed will be added*/
            &::before {
                content: "";
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                width: $width;
                height: 100%;
                background: $background;
                opacity: 0.05;
                transform-origin: center center;
                transform: skew(30deg) scaleY(1) translate(0, 0);
                transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
            }
            /*when hover over the content, the white layer will be visible on full stripe*/
            &:hover {
                &::before {
                    opacity: 0.1;
                    transform: skew(0deg) scaleY(1) translate(0, 0);
                }
            }
        }
        /*style the content title, larger font-size and give it a font-weight*/
        
        .strip__content-title {
            font-size: 2.5rem;
            font-weight: 400;
        }
        /*media queries- small devices*/
        
        @media (max-width: 576px) {
            .strip__content-title {
                font-size: 1.5rem;
            }
        }
        /*add keyframes to animate the stripes at loading page*/
        
        @-webkit-keyframes stripe1 {
            0% {
                transform: translate3d(-100%, 0, 0);
                /*$transform1;*/
            }
            100% {
                transform: translate3d(0, 0, 0);
                /*$transform0;*/
            }
        }
        
        @keyframes stripe1 {
            0% {
                transform: translate3d(-100%, 0, 0);
                /*$transform1;*/
            }
            100% {
                transform: translate3d(0, 0, 0);
                /*$transform0;*/
            }
        }
        
        @-webkit-keyframes stripe2 {
            0% {
                transform: translate3d(0, 100%, 0);
                /*$transform2;*/
            }
            100% {
                transform: translate3d(0, 0, 0);
                /*$transform0;*/
            }
        }
        
        @keyframes stripe2 {
            0% {
                transform: translate3d(0, 100%, 0);
                /*$transform2;*/
            }
            100% {
                transform: translate3d(0, 0, 0);
                /*$transform0;*/
            }
        }
        
        @-webkit-keyframes stripe3 {
            0% {
                transform: translate3d(0, -100%, 0);
                /*$transform3;*/
            }
            100% {
                transform: translate3d(0, 0, 0);
                /*$transform0;*/
            }
        }
        
        @keyframes stripe3 {
            0% {
                transform: translate3d(0, -100%, 0);
                /*$transform3;*/
            }
            100% {
                transform: translate3d(0, 0, 0);
                /*$transform0;*/
            }
        }
        
        @-webkit-keyframes stripe4 {
            0% {
                transform: translate3d(0, 100%, 0);
                /*$transform4;*/
            }
            100% {
                transform: translate3d(0, 0, 0);
                /*$transform0;*/
            }
        }
        
        @keyframes stripe4 {
            0% {
                transform: translate3d(0, 100%, 0);
                /*$transform4;*/
            }
            100% {
                transform: translate3d(0, 0, 0);
                /*$transform0;*/
            }
        }
        
        @-webkit-keyframes stripe5 {
            0% {
                transform: translate3d(100%, 0, 0);
                /*$transform5;*/
            }
            100% {
                transform: translate3d(0, 0, 0);
                /*$transform0;*/
            }
        }
        
        @keyframes stripe5 {
            0% {
                transform: translate3d(100%, 0, 0);
                /*$transform5;*/
            }
            100% {
                transform: translate3d(0, 0, 0);
                /*$transform0;*/
            }
        }